@model StepByStepProject.Models.Ilce

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ilce</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IlceAd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IlceAd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Il)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Il.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
