@model StepByStepProject.Models.Film

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Film</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FilmAd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FilmAd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Yil)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Yil)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Uzunluk)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Uzunluk)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IMDB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IMDB)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Konu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Konu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Afis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Afis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fragman)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fragman)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kategori)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kategori.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Language)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Language.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
