@model IEnumerable<StepByStepProject.Models.Film>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FilmAd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Yil)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Uzunluk)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IMDB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Konu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Afis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fragman)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kategori)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Language)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FilmAd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Yil)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Uzunluk)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IMDB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Konu)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.Afis)*@
                <img src="@Url.Content(item.Afis)" class="d-block w-50" asp-append-version="true" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fragman)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kategori.KategoriName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Language.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
