@model StepByStepProject.Models.YonetmenFılm

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>YonetmenFılm</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Film)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Film.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Yonetmen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Yonetmen.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sira)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sira)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YonetmenTip)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YonetmenTip)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
