@model StepByStepProject.Models.Sinema

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Sinema</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SinemaAd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SinemaAd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ilce)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ilce.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Iletisim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Iletisim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adres)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adres)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
