@model StepByStepProject.Models.Gosterimler

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Gosterimler</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Film)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Film.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Salon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Salon.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Baslangic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Baslangic)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bitis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bitis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AltYazi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AltYazi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sinema)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sinema.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
