@model IEnumerable<StepByStepProject.Models.Gosterimler>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Film)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Baslangic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bitis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AltYazi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sinema)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Film.FilmAd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salon.SalonAd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Baslangic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bitis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AltYazi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sinema.SinemaAd)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
